@model HomeVm
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .container {
        max-width: fit-content;
    }

    span#search-addon {
        margin-left: 10px;
    }
</style>
<div>
    <div class="row">
        <div class="input-group rounded">
            <input type="search" id="searchInput" class="form-control rounded" placeholder="Search in event or userName" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
               <i style="font-size:24px" class="fa">&#xf002;</i>
            </span>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Event <i class="fa fa-sort"></i></th>
                    <th scope="col">User</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time<i class="fa fa-sort"></i></th>
                    <th scope="col">Ip<i class="fa fa-sort"></i></th>
                    <th scope="col">QueryString<i class="fa fa-sort"></i></th>
                    <th scope="col">request<i class="fa fa-sort"></i></th>
                    <th scope="col">response<i class="fa fa-sort"></i></th>
                </tr>
            </thead>
            <tbody id="bodyId">
                @for (var i = 0; i < Model.Logs.Count; i++)
                {
                    <tr>
                        <td scope="row">@(i+1)</td>
                        <td>@Model.Logs[i].Event</td>
                        <td>@Model.Logs[i].UserName</td>
                        <td>@Model.Logs[i].Date</td>
                        <td>@Model.Logs[i].Time</td>
                        <td>@Model.Logs[i].Ip</td>
                        <td>@Model.Logs[i].QueryString</td>
                        <td>@Model.Logs[i].RequestBody</td>
                        <td>@Model.Logs[i].ResponseBody</td>

                    </tr>
                }

                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>

     $("#searchInput").change(function(){
    console.log(this.value);
    var formData = {search:this.value};
       $.ajax({url: "/home/search",
                    method: 'post',
                    data: formData,
                    success: function(result){
                         $('#bodyId').empty();
                         for(let q = 0 ; q < result.logs.length ; q++){

                            $('#bodyId').append(`<tr><td>${q+1}</td><td>${result.logs[q].event}</td><td>${result.logs[q].userName ?? ""}</td><td>${result.logs[q].date}</td><td>${result.logs[q].time}</td><td>${result.logs[q].ip}</td><td>${result.logs[q].queryString??""}</td><td>${result.logs[q].requestBody??""}</td><td>${result.logs[q].responseBody}</td></tr>`);
                                                $('#bodyId').append(`<tr><td scope="row">${q+1}</td><td>${result.logs[q].event}</td>
                                                <td>${result.logs[q].userName ?? ""}</td>
                                                <td>${result.logs[q].date}</td>
                                                <td>${result.logs[q].time}</td>
                                                <td>${result.logs[q].ip}</td>
                                                <td>${result.logs[q].queryString}</td>
                                                <td>${result.logs[q].requestBody}</td>
                                                <td>${result.logs[q].responseBody}</td></tr>`);
                    }
             }});

    });
</script>

